/* TAG SELCTORS */

body {
    background-color: #a5e061;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 6%;
}

h1 {
    color: #0a3506;
}

img {
    background-color: #e06161;
}


/* CLASS SELCTORS */

.img1 {
    width: 100%;
}

.img2 {
    width: 50%;
}


/* ID SELECTORS */

#temple {
    width: 80%;
}